<template name="templatePostVideo">
    <!--<div class="table tmpCreateVideo" align="center">-->

    <!-- table class="table table-bordered table-striped"> -->
    <!--<table class="table">
        <tbody>
        <tr>
            <th class="text-nowrap" scope="row">Title</th>
            <td>
                <input name="title" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
            </td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Logline</th>
            <td>
                <input name="logline" type="text" class="form-control" placeholder="Give us a short login!" aria-describedby="basic-addon1">
            </td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Synopsis</th>
            <td>
                <textarea name="synopsis" class="form-control custom-control" rows="4" style="resize: none;" placeholder="Tell us what your documentary is about!"></textarea>
            </td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Vimeo Link</th>
            <td>
                <input name="vimeolink" type="text" class="form-control" placeholder="Vimeo Link" aria-describedby="basic-addon1">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
    </p>-->
    <style>
        .text-right {
            text-align: right;
        }
    </style>

    <div class="row create-video-form">
        <div class="col-lg-12">
            <h1 class="page-header">Creator
                <small>Post Video</small>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-4 text-right">
                <h2>Title</h2>
            </div>
            <div class="col-lg-8">
                <input name="title" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-right">
                <h3>Logline</h3>
            </div>
            <div class="col-lg-8">
                <input name="logline" type="text" class="form-control" placeholder="Give us a short logline" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-right">
                <h3>Synopsis</h3>
            </div>
            <div class="col-lg-8">
                <textarea name="synopsis" class="form-control custom-control" rows="4" style="resize: none;" placeholder="Tell us what your documentary is about"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-right">
                <h3>Video Link</h3>
            </div>
            <div class="col-lg-8">
                <input name="videolink" type="url" class="form-control" placeholder="https://player.vimeo.com/video/69592868" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
            </div>
        </div>
    </div>
</template>