<template name="templateLayout">
    {{> templateNavbar}}

    <div class="container main-content">
        {{> yield}}
    </div>
</template>

<template name="templateNavbar">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{pathFor 'home'}}">
                    <i class="fa fa-play-circle"></i>  <span class="light">Diane</span> Willinium
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <!--<input type="button" class="btn btn-default navbar-btn" value="Search"
                               onclick="switchContent('search')"/>-->
                        <a class="btn btn-primary btn-lg"
                           href="{{pathFor 'searchVideo'}}" role="button">Search</a>
                    </li>
                    <li>
                        <!--<input type="button" class="btn btn-default navbar-btn" value="Create"
                               onclick="switchContent('create')"/>-->
                        <a class="btn btn-primary btn-lg"
                           href="{{pathFor 'postVideo'}}" role="button">Post</a>
                    </li>
                    <li>
                        {{> tmpUser}}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</template>

<template name="templateLoading">
    <h1>Loading...</h1>
</template>

<template name="templateNotFound">
    <h1>Resource not found.</h1>
</template>

<template name="templateHome">
    <h1>Edulizer - Education for the Future</h1>
    <h2>This is where an about-us section would go.</h2>
    <h3>More layout stuff perhaps?</h3>
</template>

<template name="templateSearchVideo">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Video Listings
                <small>Bananas</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    {{#each test}}
        <div class="row">
            {{> templateVideoSmall}}
        </div>
    {{/each}}
</template>

<template name="templateVideoSmall">
    <div class="col-md-4 portfolio-item">
        <a class="showVideo" href="{{pathFor 'watchVideo'}}">
            <img class="img-responsive imgVimeoThumbnail" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">{{title}} - {{creator}}</a>
        </h3>
        <p>{{logline}}</p>
        {{#if isOwner}}
            <a class="editVideo" href="{{pathFor 'editVideo'}}">Edit Video</a>
        {{/if}}
    </div>
</template>

<template name="templatePostVideo">
    <div class="table tmpCreateVideo" align="center" style="max-height:600px; max-width:800px;">
        <!-- table class="table table-bordered table-striped"> -->
        <table class="table">
            <tbody>
            <tr>
                <th class="text-nowrap" scope="row">Title</th>
                <td>
                    <input name="title" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Logline</th>
                <td>
                    <input name="logline" type="text" class="form-control" placeholder="Give us a short login!" aria-describedby="basic-addon1">
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Synopsis</th>
                <td>
                    <textarea name="synopsis" class="form-control custom-control" rows="4" style="resize: none;" placeholder="Tell us what your documentary is about!"></textarea>
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Vimeo Link</th>
                <td>
                    <input name="vimeolink" type="text" class="form-control" placeholder="Vimeo Link" aria-describedby="basic-addon1">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <!--   <p>
                          <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
                      </p> -->
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
        </p>
    </div>
</template>

<template name="templateEditVideo">
    <div class="table" align="center" style="max-height:600px; max-width:800px;">
        <!-- table class="table table-bordered table-striped"> -->
        <table class="table">
            <tbody>
            <tr>
                <th class="text-nowrap" scope="row">Title</th>
                <td>
                    <input name="title" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1"
                            value="{{title}}" readonly/>
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Logline</th>
                <td>
                    <input name="logline" type="text" class="form-control" placeholder="Give us a short login!" aria-describedby="basic-addon1" value="{{logline}}"/>
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Synopsis</th>
                <td>
                    <textarea name="synopsis" class="form-control custom-control" rows="4" style="resize: none;" placeholder="Tell us what your documentary is about!">
                        {{synopsis}}
                    </textarea>
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Vimeo Link</th>
                <td>
                    <input name="vimeolink" type="text" class="form-control" placeholder="Vimeo Link" aria-describedby="basic-addon1"
                            value="{{vimeolink}}" readonly/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <!--   <p>
                          <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
                      </p> -->
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
        </p>
    </div>
</template>

<template name="templateWatchVideo">
    <h1>Title: {{title}}</h1>
    <h2>Creator: {{creator}}</h2>
    <h3>Logline: {{logline}}</h3>
    <h3>Synopsis: {{synopsis}}</h3>
    <div class="fluid-width-video-wrapper">
        <iframe src="{{vimeolink}}" width="700" height="400" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</template>