<template name="tmpNavbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <p class="navbar-text navbar-left">
                {{> tmpUser}}
            </p>
        </div>
    </nav>
</template>

<template name="tmpUser">
    {{> loginButtons}}
</template>

<template name="tmpSearch">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">#</span>
        <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
    </div>
</template>