<template name="tmpCreateVideo">

    <div class="table" align="center" style="max-height:600px; max-width:800px;">
     <!-- table class="table table-bordered table-striped"> -->
        <table class="table">
            <tbody>
            <tr>
                <th class="text-nowrap" scope="row">Title</th>
                <td>
                    <input name="title" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Logline</th>
                <td>
                    <input name="logline" type="text" class="form-control" placeholder="Give us a short login!" aria-describedby="basic-addon1">
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Synopsis</th>
                <td>
                    <textarea name="synopsis" class="form-control custom-control" rows="4" style="resize: none;" placeholder="Tell us what your documentary is about!"></textarea>
                </td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Vimeo Link</th>
                <td>
                    <input name="vimeolink" type="text" class="form-control" placeholder="Vimeo Link" aria-describedby="basic-addon1">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                  <!--   <p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
                    </p> -->
                </td>
            </tr>
            </tbody>
        </table>
    <p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
                    </p>
    </div>
</template>
