<template name="tmpShowVideo">
    <div class="container">
        {{#with getVideoInfo}}
            <h1>Title: {{title}}</h1>
            <h2>Creator: {{creator}}</h2>
            <h3>Logline: {{logline}}</h3>
            <h3>Synopsis: {{synopsis}}</h3>
            <div class="fluid-width-video-wrapper">
                <iframe src="{{vimeolink}}" width="700" height="400" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        {{/with}}
    </div>
</template>